body {

    @apply font-body;
    position: relative;
    @apply text-base;
    font-size: 16px;
    transition: background 1s;
    overflow-x: hidden;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
    }
    
    /* grainy texture */
    &::before {
        z-index: -2;
        background-image: url('/assets/media/bg/bg.webp');
        opacity: .05;
    }

    /* default color background */
    &::after {
        z-index: -1;
        background-color: #1D1D1D;
        opacity: .1;
    }

    figure::after {
        display: block;
        content: '';
        position: absolute;
        inset: 0;
        background: rgb(46, 46, 46);
        opacity: .4;
    }

}

figure {
    position: relative;
    overflow: hidden;
    & > img {
        filter: grayscale(1);
        display: block;
    }
}