.about {
    z-index: 0;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        @apply bg-border;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        top: -1px;
        bottom: auto;
    }

    .title {
        font-size: clamp(40px, 5vw, 80px);
    }
}

.about__main {
    position: relative;
    overflow: visible;
}

.about__margin {
    height: 100%;
    display: flex;
    width: calc((100vw - 100%) / 2);
    position: absolute;
    overflow: hidden;
    span {
        color: white;
        z-index: 100;
        font-size: 105px;
        @apply font-heading;
        white-space: nowrap;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: 100%;
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        letter-spacing: -.5px;
        opacity: .2;
        transform: scale(-1);
    }

    &:first-child {
        right: 100%;
        @media (min-width: 1800px) {
            span {
                align-items: flex-end;
            }
        }
    }
    &:last-child {
        left: 100%;
        @media (min-width: 1800px) {
            span {
                align-items: flex-start;
            }
        }
    }
}

.about__grid {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}