.about {
    position: relative; 
    z-index: 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        @apply bg-border;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        top: -1px;
        bottom: auto;
    }

    .title {
        font-size: clamp(40px, 5vw, 80px);
    }
}