.accordion {

    .accordion__item {
        @apply relative;

        h3 {
            font-size: clamp(45px, 7.5vw, 70px);
            overflow: hidden;
        }

        &::before {
            content: '';
            display: block;
            @apply bg-border;
            @apply absolute;
            height: 1px;
            top: 0;

            left: -100vw;
            right: -100vw;
            z-index: -2;
        }

        &:first-child {
            &::before {
                display: none;
            }
        }

        .accordion__title {
            display: block;
            transition: all .3s ease-in-out;
            transform-origin: left;
            &:not(.accordion__title--outline) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover {
            .accordion__title:not(.accordion__title--outline) {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }
        }
    }

    .accordion__title--outline {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

}