.form {
    margin-top: 50px;

    .input-group {
        position: relative;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: minmax(16.67%, 25%) auto 25%;
        }
    }

    fieldset:first-child {
        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            @apply bg-border;
            left: -100vw;
            right: -100vw;
        }

        &::after {
            bottom: 0;
        }
    }

    .general-error {
        @media (min-width: 768px) {
            max-width: 75%;
        }
    }
}