.header {
    @apply uppercase;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav__toggle {
    span {
        @apply bg-border;
        width: 25px;
        height: 1px;
        display: block;
    }
}

.nav__list {
    left: 0;
    right: 0;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: all .3s;
    &::before {
        content: '';
        display: block;
        width: 100%;
        @apply bg-border;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0s;
    }
}

.header.is-open {
    @apply border-border;
    .nav__list {
        @apply py-5;
        max-height: 300px;
        position: relative;
        &::before {
            opacity: 1;
            transform: scaleX(1);
            transition: all 0.6s;
        }
    }
    .nav__toggle {
        span:nth-child(2) {
            opacity: 0;
        }

        span:first-child {
            transform: rotate(45deg) translate(6px, 6px);
        }
        span:last-child {
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }
}

@media (min-width: 768px) {
    .nav__list {
        max-height: none;
        overflow: visible;
        position: static;
        &::before {
            display: none;
        }
    }
}
